// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form p {
  text-align: left;
}

p.article {
  text-align: center;
}

.panel.panel-info {
  width: 600px;
  text-align: center;
}
.icon_size_feed img {
  border-radius: 50%;
}

.user_name {
  text-align: left;
}

div.icon_size_feed {
  text-align: left;
  margin-left: 30px;
  width: 400px;
}
